<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <span class="icon">
        <i class="fab fa-medrt"></i>
      </span>
      <h1>GP Surgery</h1>
    </a>

    <button class="button navbar-burger" data-target="navbar-data">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div id="navbar-data" class="navbar-menu">
    <!-- navbar start, navbar end -->
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="active">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        Home
      </a>
      <a class="navbar-item" routerLink="/staff-list">
        <span class="icon">
          <i class="fas fa-user-md"></i>
        </span>
        Staff
      </a>
      <a class="navbar-item" routerLink="/appointments-list">
        <span class="icon">
          <i class="far fa-calendar-alt"></i>
        </span>
        Appointments
      </a>
      <a class="navbar-item" routerLink="/patients-list">
        <span class="icon">
          <i class="fas fa-users"></i>
        </span>
        Patients
      </a>
      <a class="navbar-item" routerLink="/new-appointment">
        <span class="icon">
          <i class="far fa-calendar-plus"></i>
        </span>
        New Appointment
      </a>
      <a class="navbar-item" routerLink="/admin">
        <span class="icon">
          <i class="fas fa-wrench"></i>
        </span>
        Admin
      </a>
    </div>
    <div class="navbar-end">
      <a *ngIf="!isLoggedIn()" class="navbar-item" routerLink="/login">
        <span class="icon">
          <i class="fas fa-sign-out-alt"></i>
        </span>
        Log in
      </a>
      <a *ngIf="isLoggedIn()" class="navbar-item" (click)="logUserOut()">
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        Log Out
      </a>
    </div>
  </div>
</nav>