<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <span class="icon">
        <i class="fab fa-medrt"></i>
      </span>
      <h1>GP Surgery</h1>
    </a>

    <button class="button navbar-burger" data-target="navbar-data">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div id="navbar-data" class="navbar-menu">
    
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="active">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        Home
      </a>
      <ng-container *ngIf="isLoggedIn()">
        <ng-container *ngIf="getUserType() === 'patient'">
          <a class="navbar-item" routerLink="/new-appointment" >
            <span class="icon">
              <i class="far fa-calendar-plus"></i>
            </span>
            New Appointment
          </a>
  
          <!-- <a class="navbar-item" routerLink="/patient-profile">
            <span class="icon">
                <i class="fas fa-user-circle"></i>
            </span>
            My Profile
          </a> -->

        </ng-container>

        <ng-container *ngIf="userIsDoctorOrAdmin()">
          <a class="navbar-item" routerLink="/appointments-list">
            <span class="icon">
              <i class="far fa-calendar-alt"></i>
            </span>
            Appointments
          </a>
          <a class="navbar-item" routerLink="/patients-list">
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
            Patients
          </a>
          <a class="navbar-item" *ngIf="getUserType() === 'admin'" routerLink="/admin">
            <span class="icon">
              <i class="fas fa-wrench"></i>
            </span>
            Admin
          </a>
        </ng-container>
      </ng-container>
    </div>

    <div class="navbar-end">
        <a class="navbar-item" *ngIf="getUserType() === 'patient'" routerLink="/patient-profile">
          <span class="icon">
              <i class="fas fa-user-circle"></i>
          </span>
          My Profile
        </a>
      <a *ngIf="!isLoggedIn()" class="navbar-item" routerLink="/login">
        <span class="icon">
          <i class="fas fa-sign-out-alt"></i>
        </span>
        Log in
      </a>
      <a *ngIf="isLoggedIn()" class="navbar-item" (click)="logUserOut()">
        <span class="icon">
          <i class="fas fa-sign-in-alt"></i>
        </span>
        Log Out
      </a>
    </div>
  </div>

</nav>