<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <button class="button navbar-burger" data-target="navbar-data">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  
  <div id="navbar-data" class="navbar-menu">
    <!-- navbar start, navbar end -->
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="active">
        Home
      </a>
      <a class="navbar-item" routerLink="/staff-list">
        Staff
      </a>
      <a class="navbar-item" routerLink="/patients-list">
        Patients
      </a>
      <a class="navbar-item" routerLink="/appointments-list">
        Appointments
      </a>
      <a class="navbar-item" routerLink="/admin">
        Admin
      </a>
    </div>
  </div>
</nav>