<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column box is-8 is-offset-2">
        <app-messages [messages]="messages"></app-messages>
        <ng-container *ngIf="userFound === true">
          <div class="columns is-mobile">
            <div class="column">
              <p class="is-size-4">User Details</p>
              <p>Patient ID: {{user.patient_id}}</p>
              <p>Full name:</p>
              <p class="is-capitalized">{{getFullName(user.forename, user.surname)}}</p>
              <p class="is-capitalized">Username/Email:</p>
              <p>{{user.username}}</p>
            </div>
            <div class="column">
              <p class="is-size-4">Address</p>
              <p class="is-capitalized">{{user.address.line1}}</p>
              <p class="is-capitalized">{{user.address.line2}}</p>
              <p class="is-capitalized">{{user.address.town_city}}</p>
              <p class="is-capitalized">{{user.address.postcode}}</p>
            </div>
          </div>
          <ng-container *ngIf="appointmentsFound">
            <div *ngIf="appointments.length === 0; else appointmentsList">
              <p>No upcoming appointments.</p>
            </div>
            <ng-template #appointmentsList>
              <div class="columns">
                <div class="column"></div>
                <div class="column is-narrow has-text-centered">
                  <p class="is-size-4">Your Appointments</p>
                </div>
                <div class="column"></div>
              </div>
              <br>
              <div class="box" *ngFor="let appointment of appointments">
                <div class="columns is-mobile">
                  <div class="column">
                    <p>
                      <span class="icon">
                        <i class="far fa-calendar"></i>
                      </span>
                      {{appointment.start_time.toLocaleDateString()}}
                    </p>
                  </div>
                  <div class="column">
                    <p>
                      <span class="icon">
                        <i class="far fa-clock"></i>
                      </span>
                      {{appointment.start_time.toLocaleTimeString()}}
                    </p>
                  </div>
                  <div class="column">
                    <p class="is-capitalized">
                      <span class="icon">
                        <i class="fas fa-user-md"></i>
                      </span>
                      {{appointment.doctor}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>