<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column box is-8 is-offset-2">

        <div class="notification is-warning" *ngFor="let msg of messages; let i = index">
          <a class="delete" (click)="removeMsg(i)"></a>
          <p>{{msg}}</p>
        </div>

        <form [formGroup]="newStaffForm">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Forename</label>
                <div class="control">
                  <input class="input" type="text" formControlName="forename" (blur)="updateInputState('forename')" (keyup)="updateInputState('forename')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : forename.valid || (forename.dirty || forename.touched),
                      'is-danger' : forename.invalid && (forename.dirty || forename.touched)
                    }">
                </div>
              </div>

              <div *ngIf="forename.errors && (forename.dirty || forename.touched)">
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.required && (forename.dirty || forename.touched)">
                  Forename is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.minlength && !forename.pristine">
                  Forename must be at least 1 character.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.maxlength && !forename.pristine">
                  Forename must be 50 characters or less.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.pattern && !forename.pristine">
                  Forename cannot contain numbers.
                </p>
              </div>

              <div class="field">
                <label class="label">Surname</label>
                <div class="control">
                  <input class="input" type="text" formControlName="surname" (blur)="updateInputState('surname')" (keyup)="updateInputState('surname')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : surname.valid || (surname.dirty || surname.touched),
                      'is-danger' : surname.invalid && (surname.dirty || surname.touched)
                    }">
                </div>
              </div>

              <div *ngIf="surname.errors && (surname.dirty || surname.touched)">
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.required && (surname.dirty || surname.touched)">
                  Surname is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.minlength && !surname.pristine">
                  Surname must be at least 1 character.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.maxlength && !surname.pristine">
                  Surname must be 100 characters or less.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.pattern && !surname.pristine">
                  Surname cannot contain numbers.
                </p>
              </div>

              <div class="field">
                <label class="label">Username/Email</label>
                <div class="control">
                  <input class="input" type="text" formControlName="username" (blur)="updateInputState('username')" (keyup)="updateInputState('username')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : username.valid || (username.dirty || username.touched),
                      'is-danger' : username.invalid && (username.dirty || username.touched)
                    }">
                </div>
              </div>

              <div *ngIf="username.errors && (username.dirty || username.touched)">
                <p class="help is-danger pad-bottom" *ngIf="username.errors.required">
                  Username is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="username.invalid && username.value.length > 0">
                  Please enter a valid Email/Username.
                </p>
              </div>

            </div>
            <div class="column">
              <div class="field">
                <label class="label">User Role</label>
                <div class="control">

                  <div class="select">
                    <select formControlName="staff_role">
                      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                      <!-- <option [ngValue]="doctor">Doctor</option>
                      <option [ngValue]="admin">Admin</option> -->
                    </select>
                  </div>

                  <!-- <input class="input" type="text" formControlName="staff_role" (blur)="updateInputState('staff_role')" (keyup)="updateInputState('staff_role')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : staff_role.valid || (staff_role.dirty || staff_role.touched),
                      'is-danger' : staff_role.invalid && (staff_role.dirty || staff_role.touched)
                    }"> -->
                </div>
              </div>

              <div *ngIf="staff_role.errors && (staff_role.dirty || staff_role.touched)">
                <p class="help is-danger pad-bottom" *ngIf="staff_role.errors.required && (staff_role.dirty || staff_role.touched)">
                  User Role is required.
                </p>
              </div>

            </div>
          </div>
          <div class="buttons is-centered">
            <button class="button is-danger" [attr.disabled]='isValid() === false ? true : null' (click)="saveDetails()">Add Staff Member</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>