<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column box is-8 is-offset-2">

        <app-messages [messages]="messages"></app-messages>

        <form [formGroup]="newStaffForm">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Forename</label>
                <div class="control">
                  <input class="input" type="text" formControlName="forename" (blur)="updateInputState('forename')" (keyup)="updateInputState('forename')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : forename.valid || (forename.dirty || forename.touched),
                      'is-danger' : forename.invalid && (forename.dirty || forename.touched)
                    }">
                </div>
              </div>

              <div *ngIf="forename.errors && (forename.dirty || forename.touched)">
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.required && (forename.dirty || forename.touched)">
                  Forename is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.minlength && !forename.pristine">
                  Forename must be at least 1 character.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.maxlength && !forename.pristine">
                  Forename must be 50 characters or less.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="forename.errors.pattern && !forename.pristine">
                  Forename cannot contain numbers.
                </p>
              </div>

              <div class="field">
                <label class="label">Surname</label>
                <div class="control">
                  <input class="input" type="text" formControlName="surname" (blur)="updateInputState('surname')" (keyup)="updateInputState('surname')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : surname.valid || (surname.dirty || surname.touched),
                      'is-danger' : surname.invalid && (surname.dirty || surname.touched)
                    }">
                </div>
              </div>

              <div *ngIf="surname.errors && (surname.dirty || surname.touched)">
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.required && (surname.dirty || surname.touched)">
                  Surname is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.minlength && !surname.pristine">
                  Surname must be at least 1 character.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.maxlength && !surname.pristine">
                  Surname must be 100 characters or less.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="surname.errors.pattern && !surname.pristine">
                  Surname cannot contain numbers.
                </p>
              </div>

              <div class="field">
                <label class="label">Username/Email</label>
                <div class="control">
                  <input class="input" type="text" formControlName="username" (blur)="updateInputState('username')" (keyup)="updateInputState('username')"
                    autocomplete="foo" [ngClass]="{
                      'is-success' : username.valid || (username.dirty || username.touched),
                      'is-danger' : username.invalid && (username.dirty || username.touched)
                    }">
                </div>
              </div>

              <div *ngIf="username.errors && (username.dirty || username.touched)">
                <p class="help is-danger pad-bottom" *ngIf="username.errors.required">
                  Username is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="username.invalid && username.value.length > 0">
                  Please enter a valid Email/Username.
                </p>
              </div>

            </div>
            <div class="column">
              <div class="field">
                <label class="label">User Role</label>
                <div class="control">

                  <div class="select" [ngClass]="{
                    'is-success' : staff_role.valid || (staff_role.dirty || staff_role.touched),
                    'is-danger' : staff_role.invalid && (staff_role.dirty || staff_role.touched)
                  }">
                    <select formControlName="staff_role">
                      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div *ngIf="staff_role.errors && (staff_role.dirty || staff_role.touched)">
                <p class="help is-danger pad-bottom" *ngIf="staff_role.errors.required && (staff_role.dirty || staff_role.touched)">
                  User Role is required.
                </p>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" formControlName="password" (blur)="updateInputState('password')" (keyup)="updateInputState('password')"
                    autocomplete="foo" [ngClass]="{
                        'is-success' : password.valid || (password.dirty || password.touched),
                        'is-danger' : (password.invalid && password.touched) || newStaffForm?.errors?.mismatch && (passwordConfirm?.dirty || passwordConfirm?.touched)
                      }">
                </div>
              </div>

              <div *ngIf="password.errors && (password.dirty || password.touched)">
                <p class="help is-danger pad-bottom" *ngIf="password.errors.required">
                  Password is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="password.invalid">
                  Password must be between 4 and 50 characters.
                </p>
              </div>

              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                  <input class="input" type="password" formControlName="passwordConfirm" (blur)="updateInputState('passwordConfirm')" (keyup)="updateInputState('passwordConfirm')"
                    autocomplete="foo" [ngClass]="{
                        'is-success' : passwordConfirm.valid || (passwordConfirm.dirty || passwordConfirm.touched),
                        'is-danger' : (passwordConfirm.invalid && password.touched) || newStaffForm?.errors?.mismatch && (passwordConfirm?.dirty || passwordConfirm?.touched)
                      }">
                </div>
              </div>

              <div *ngIf="passwordConfirm.errors && (passwordConfirm.dirty || passwordConfirm.touched)">
                <p class="help is-danger pad-bottom" *ngIf="passwordConfirm.errors.required">
                  Password confirmation is required.
                </p>
                <p class="help is-danger pad-bottom" *ngIf="passwordConfirm.invalid">
                  Password must be between 4 and 50 characters.
                </p>
              </div>

              <ng-container *ngIf="passwordConfirm.touched">
                <div *ngIf="newStaffForm?.errors?.mismatch">
                  <p class="help is-danger pad-bottom">
                    Passwords do not match.
                  </p>
                </div>
              </ng-container>

            </div>
          </div>
          <div class="buttons is-centered">
            <button class="button is-danger" [attr.disabled]='isValid() === false ? true : null' (click)="saveDetails()">Add Staff Member</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>