.field {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

p {
    padding-bottom: 0.5em;
}

.box {
    margin-left: 1em;
    margin-right: 1em;
}