<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h3 class="title is-size-3 has-text-centered">Welcome to the GP Surgery.</h3>
        <br>
        <div class="columns">
          <div class="column">
            <h3 class="title is-size-4" id="openingTitle">Opening Times</h3>
            <table class="table">
              <tbody>
                <tr>
                  <th>Monday</th>
                  <td>08:30 - 18:00</td>
                </tr>
                <tr>
                  <th>Tuesday</th>
                  <td>08:30 - 18:00</td>
                </tr>
                <tr>
                  <th>Wednesday</th>
                  <td>08:30 - 18:00</td>
                </tr>
                <tr>
                  <th>Thursday</th>
                  <td>08:30 - 18:00</td>
                </tr>
                <tr>
                  <th>Friday</th>
                  <td>08:30 - 18:00</td>
                </tr>
                <tr>
                  <th>Weekend</th>
                  <td class="is-italic">closed</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="column">
            <p class="is-size-5 has-text-weight-semibold pad-under-title">Existing Patients:</p>
            <p>To make an appointment, please log in.</p>
            <br>
            <p class="is-size-5 has-text-weight-semibold pad-under-title">New Patients:</p>
            <p>If you wish to register as a new patient, please visit the surgery with both proof of identification and address.
              Our reception staff will be happy to help you.</p>
            <br>
            <p class="is-size-5 has-text-weight-semibold has-text-info pad-under-title">If we are closed:</p>
            <p>Between 18:00 and 08:00 each weekday and at all times over the weekend and public holidays, emergency cover is
              handled by NHS 111.</p>
            <br>
            <p>You can access urgent assistance by calling NHS direct on 111.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>